<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Lista Trenerów</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet">
    <link th:href="@{/css/admin/admintables.css}" rel="stylesheet">
    <link th:href="@{/css/admin/alluserlist.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="adminpanel :: adminpanel"></div>

<div id="content">
    <div class="courses-container">
        <table>
            <caption>Wszyscy Użytkownicy w Bazie (Tryb Administratora)</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Imię</th>
                <th scope="col">E-mail (login)</th>
                <th scope="col">Poziom uprawnień</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${allUsers}">
                <td data-label="ID"
                    th:text="${user.id}">userId</td>
                <td data-label="Nazwisko"
                    th:text="${user.lastName}">userLastName</td>
                <td data-label="E-mail (login)"
                    th:text="${user.email}">userEmail</td>
                <td data-label="Imię"
                    th:text="${user.firstName}">userFirstName</td>
                <td data-label="Poziom uprawnień"
                    th:text="${user.role.roleName}">userRole</td>
                <td>
                    <a th:href="@{/admin/users/edit/{userId}(userId=${user.id})}">
                        <button class="edit-button">Edytuj</button>
                    </a>
                    <a th:href="@{/admin/users/delete/{userId}(userId=${user.id})}">
                        <button class="delete-button">Usuń</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
