<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Formularz kursu</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet">
    <link th:href="@{/css/admin/courseform.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="adminpanel :: adminpanel"></div>
<div id="content">
    <div class="courses-container">
        <h3>Formularz kursu</h3>
        <form class="course-add-form"
              th:action="@{'/admin/courses/save'}" th:object="${course}"
              th:method="'post'">
            <div class="form-grid">
                <label for="course-name">Nazwa kursu: </label>
                <div>
                    <input type="text" id="course-name" th:field="*{name}"
                           th:errorclass="field-error">
                    <span class="error-wrapper" th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}">name-error-info</span>
                </div>

                <label for="city-selector">Wybierz miasto: </label>
                <select id="city-selector" th:field="*{city}">
                    <option th:each="city: ${cities}" th:text="${city}"
                            th:value="${city}">city
                    </option>
                </select>

                <fieldset class="course-period">
                    <legend>Okres kursu</legend>
                    <label for="course-begin">Początek</label>
                    <div>
                        <input type="date" id="course-begin" th:field="*{beginDate}"
                               th:errorclass="field-error">
                        <span class="error-wrapper"
                              th:if="${#fields.hasErrors('beginDate')}"
                              th:errors="*{beginDate}">beginDate-error-info</span>
                    </div>
                    <label for="course-end">Koniec</label>
                    <div>
                        <input type="date" id="course-end" th:field="*{endDate}"
                               th:errorclass="field-error">
                        <span class="error-wrapper"
                              th:if="${#fields.hasErrors('endDate')}"
                              th:errors="*{endDate}">endDate-error-info</span>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Tryb</legend>
                    <div class="mode-grid">
                        <th:block th:each="m: ${modes}">
                            <input th:id="${m.getDescription()}"
                                   type="radio"
                                   th:value="${m}"
                                   th:field="*{mode}">
                            <label th:for="${m.getDescription()}"
                                   th:text="${m.getDescription()}">dzienny</label>
                        </th:block>
                    </div>
                    <span class="error-wrapper" th:if="${#fields.hasErrors('mode')}"
                          th:errors="*{mode}">mode-error-info</span>
                </fieldset>

                <label for="course-price">Cena: </label>
                <div>
                    <input type="number" id="course-price" th:field="*{price}"
                           th:errorclass="field-error">
                    <span class="error-wrapper" th:if="${#fields.hasErrors('price')}"
                          th:errors="*{price}">price-error-info</span>
                </div>

                <label for="course-teacher">Trener: </label>
                <select id="course-teacher" th:field="*{teacher}">
                    <option th:each="possibleTeacher: ${teachers}"
                            th:value="${possibleTeacher.id}"
                            th:text="${possibleTeacher.lastName + ' ' +
                            possibleTeacher.firstName}">Trener
                    </option>
                </select>

                <input th:if="${course.id}" type="hidden"
                       th:field="*{id}" th:value="${course.id}">

                <button>Zapisz kurs</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
