<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Baza Kursów</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet">
    <link th:href="@{/css/admin/admintables.css}" rel="stylesheet">
    <link th:href="@{/css/admin/courselist.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="adminpanel :: adminpanel"></div>

<div id="content">
    <div class="courses-container">
        <table>
            <caption>Baza Kursów (Tryb Administratora)</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwa kursu</th>
                <th scope="col">Miasto</th>
                <th scope="col">Start</th>
                <th scope="col">Koniec</th>
                <th scope="col">Tryb</th>
                <th scope="col">Cena</th>
                <th scope="col">Trener</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course: ${courses}">
                <td data-label="ID" th:text="${course.id}">courseId</td>
                <td data-label="Nazwa kursu" th:text="${course.name}">courseName</td>
                <td data-label="Miasto" th:text="${course.city}">courseCity</td>
                <td data-label="Start" th:text="${course.beginDate}">courseBegin</td>
                <td data-label="Koniec" th:text="${course.endDate}">courseEnd</td>
                <td data-label="Tryb" th:text="${course.mode}">courseMode</td>
                <td data-label="Cena"
                    th:text="${#numbers.formatCurrency(course.price)}">coursePrice</td>
                <td data-label="Trener" th:text="${course.teacher.lastName + ' ' +
                    course.teacher.firstName}">courseTeacher</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
