<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Edycja kursu</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet">
    <link th:href="@{/css/admin/editcourse.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="adminpanel :: adminpanel"></div>
<div id="content">
    <div class="courses-container">
        <h3>Edycja kursu</h3>
        <form class="course-add-form"
              th:action="@{/admin/courses/edit}" th:object="${course}"
              th:method="'post'">
            <div class="form-grid">
                <label for="course-name">Nazwa kursu: </label>
                <input type="text" id="course-name" th:field="*{name}" required>

                <label for="city-selector">Wybierz miasto: </label>
                <select id="city-selector" th:field="*{city}">
                    <option th:each="city: ${cities}" th:text="${city}"
                            th:value="${city}">city</option>
                </select>

                <fieldset class="course-period">
                    <legend>Okres kursu</legend>
                    <label for="course-begin">Początek</label>
                    <input type="date" id="course-begin" th:field="*{beginDate}" required>
                    <label for="course-end">Koniec</label>
                    <input type="date" id="course-end" th:field="*{endDate}" required>
                </fieldset>

                <fieldset>
                    <legend>Tryb</legend>
                    <div class="mode-grid">
                        <th:block th:each="m: ${modes}">
                            <input th:id="${m.getDescription()}"
                                   type="radio"
                                   th:value="${m}"
                                   th:field="*{mode}" required>
                            <label th:for="${m.getDescription()}"
                                   th:text="${m.getDescription()}">dzienny</label>
                        </th:block>
                    </div>
                </fieldset>
                <label for="course-price">Cena: </label>
                <input type="number" id="course-price" th:field="*{price}" required>

                <label for="course-teacher">Trener: </label>
                <select id="course-teacher" th:field="*{teacher}">
                    <option th:each="possibleTeacher: ${teachers}"
                            th:value="${possibleTeacher.id}"
                            th:text="${possibleTeacher.lastName + ' ' +
                            possibleTeacher.firstName}">Trener</option>
                </select>
                <button>Zapisz zmiany</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
