<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Edycja studenta</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet">
    <link th:href="@{/css/admin/editstudent.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="adminpanel :: adminpanel"></div>
<div id="content">
    <div class="courses-container">
        <h3>Edycja studenta</h3>
        <form class="teacher-add-form"
              th:object="${user}"
              th:method="'post'">
            <div class="form-grid">

                <label for="teacher-first-name">Imię: </label>
                <input type="text" id="teacher-first-name"
                       th:field="*{firstName}" required>

                <label for="teacher-last-name">Nazwisko: </label>
                <input type="text" id="teacher-last-name"
                       th:field="*{lastName}" required>

                <label for="teacher-email">E-mail: </label>
                <input type="text" id="teacher-email"
                       th:field="*{email}" required>

                <label for="teacher-phone">Telefon: </label>
                <input type="text" id="teacher-phone"
                       th:field="*{phone}" required>

                <fieldset>
                    <legend>Dostępne kursy</legend>
                    <div class="mode-grid">
                        <th:block th:each="course: ${coursesList}">
                            <input th:id="${course.name}"
                                   type="checkbox"
                                   th:value="${course.id}"
                                   th:field="*{courses}">
                            <label th:for="${course.name}"
                                   th:text="${course.name} + ' - ' +
                                   ${course.mode.getDescription()}">course</label>
                        </th:block>
                    </div>
                </fieldset>

                <button>Zapisz zmiany</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
