<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Lista Trenerów</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet">
    <link th:href="@{/css/admin/admintables.css}" rel="stylesheet">
    <link th:href="@{/css/admin/studentlist.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="adminpanel :: adminpanel"></div>

<div id="content">
    <div class="courses-container">
        <table>
            <caption>Baza Studentów (Tryb Administratora)</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Imię</th>
                <th scope="col">E-mail (login)</th>
                <th scope="col">Telefon</th>
                <th scope="col">Kursy</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student: ${students}">
                <td data-label="ID" th:text="${student.id}">studentId</td>
                <td data-label="Nazwisko" th:text="${student.lastName}">studentLastName
                </td>
                <td data-label="Imię" th:text="${student.firstName}">studentFirstName</td>
                <td data-label="E-mail (login)"
                    th:text="${student.email}">studentEmail</td>
                <td data-label="Phone" th:text="${student.phone}">studentPhone</td>
                <td data-label="Kursy">
                    <p th:each="c: ${student.courses}"
                          th:text="${c.name}">courseNamesList</p>
                </td>
                <td>
                    <a th:href="@{/admin/users/edit/{userId}(userId=${student.id})}">
                        <button class="edit-button">Edytuj</button>
                    </a>
                    <a th:href="@{/admin/users/delete/{userId}(userId=${student.id})}">
                        <button class="delete-button">Usuń</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
