<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Lista Trenerów</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet">
    <link th:href="@{/css/admin/admintables.css}" rel="stylesheet">
    <link th:href="@{/css/admin/teacherlist.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="adminpanel :: adminpanel"></div>

<div id="content">
    <div class="courses-container">
        <table>
            <caption>Baza Trenerów (Tryb Administratora)</caption>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nazwisko</th>
                <th scope="col">Imię</th>
                <th scope="col">Stawka godzinowa</th>
                <th scope="col">Prowadzi kursy</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher: ${teachers}">
                <td data-label="ID"
                    th:text="${teacher.id}">teacherId</td>
                <td data-label="Nazwisko"
                    th:text="${teacher.lastName}">teacherLastName
                </td>
                <td data-label="Imię"
                    th:text="${teacher.firstName}">teacherFirstName</td>
                <td data-label="Stawka godzinowa"
                    th:text="${#numbers.formatDecimal(
                    teacher.hourlyRate, 1, 'WHITESPACE', 2, 'COMMA') + ' zł'}">hourlyRate
                </td>
                <td data-label="Prowadzi kursy">
                    <p th:each="c: ${teacher.teacherForCourses}"
                       th:text="${c.name}">leadsCourses</p>
                </td>
                <td>
                    <a th:href="@{/admin/users/edit/{userId}(userId=${teacher.id})}">
                        <button class="edit-button">Edytuj</button>
                    </a>
                    <a th:href="@{/admin/users/delete/{userId}(userId=${teacher.id})}">
                        <button class="delete-button">Usuń</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
