<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin: Lista Trenerów</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet">
    <link th:href="@{/css/admin/teacherlist.css}" rel="stylesheet">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div th:replace="adminpanel :: adminpanel"></div>

<div id="content">
    <div class="courses-container">
        <table>
            <caption>Baza Trenerów (Tryb Administratora)</caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nazwisko</th>
                <th>Imię</th>
                <th>Stawka godzinowa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher: ${teachers}">
                <td th:text="${teacher.id}">teacherId</td>
                <td th:text="${teacher.lastName}">teacherLastName</td>
                <td th:text="${teacher.firstName}">teacherFirstName</td>
                <td th:text="${teacher.hourlyRate}">teacherHourlyRate</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
