<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/panels/loginpage.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div id="content">
    <div class="courses-container">
        <div id="signup-form-container">
            <div id="info-wrapper">
                <div id="info-icon">
                    <i class="fas fa-info-circle"></i>
                </div>
                <div id="info-text">
                    <p class="strong">Wbudowane konta demonstracyjne:</p>
                    <p>Administrator:</p>
                        <p>login: <strong>admin@op.pl</strong> hasło: <strong>admin
                        </strong></p><br>
                    <p>Trener:</p>
                    <p>login: <strong>trener@op.pl</strong> hasło: <strong>trener
                    </strong></p><br>
                    <p>Student:</p>
                    <p>login: <strong>student@op.pl</strong> hasło: <strong>student
                    </strong></p><br>
                    <p>Możesz również zapisać się na dowolny kurs</p>
                    <p>i zalogować na utworzone przy zapisie konto.</p>
                </div>
            </div>

            <h2>Zaloguj się</h2>
            <div th:if="${param.error}" class="error-wrapper">Logowanie nieudane.
                Sprawdź poprawność adresu e-mail i hasła.
            </div>
            <form th:action="@{'/login'}" th:method="'post'">
                <label for="username">E-mail</label>
                <input type="text" id="username" name="username">
                <label for="password">Hasło</label>
                <input type="password" id="password" name="password">
                <button>Zaloguj się</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
