<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Kursów</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/course/list.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div id="content">
    <div class="courses-container">
        <h1>Aktualnie dostępne kursy</h1>
        <div class="course-tile" th:each="course: ${courses}">
            <div class="course-header">
                <div class="course-name"
                     th:text="${course.name}">courseName
                </div>
                <a class="signup-button"
                   th:href="@{/kurs/zapis/{courseId}(courseId = ${course.id})}">Zapisz się
                </a>
            </div>
            <div class="course-details">
                <div class="course-detail-tile">
                    <p>Miasto</p>
                    <p class="strong" th:text="${course.city}">courseCity</p>
                </div>
                <div class="course-detail-tile">
                    <p>Data rozpoczęcia</p>
                    <p class="strong" th:text="${course.beginDate}">courseBegin</p>
                </div>
                <div class="course-detail-tile">
                    <p>Data zakończenia</p>
                    <p class="strong" th:text="${course.endDate}">courseEnd</p>
                </div>
                <div class="course-detail-tile">
                    <p>Tryb</p>
                    <p class="strong"
                       th:text="${course.mode.getDescription()}">courseMode</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
