<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Kursów</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Nazwa kursu</th>
        <th>Data startu</th>
        <th>Data zakończenia</th>
        <th>Miasto</th>
        <th>Cena</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Java</td>
        <td>15-01-2021</td>
        <td>15-07-2021</td>
        <td>Warszawa</td>
        <td>7999</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spring</td>
        <td>10-02-2021</td>
        <td>10-04-2021</td>
        <td>Kraków</td>
        <td>4999</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Python</td>
        <td>15-02-2021</td>
        <td>15-08-2021</td>
        <td>Warszawa</td>
        <td>5999</td>
    </tr>
</table>
</body>
</html>
