<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Kursów</title>
    <link th:href="@{/css/list.css}" rel="stylesheet" />
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Nazwa kursu</th>
        <th>Data startu</th>
        <th>Data zakończenia</th>
        <th>Miasto</th>
        <th>Cena</th>
    </tr>
    <tr th:each="course: ${courses}">
        <td th:text="${course.id}">courseId</td>
        <td th:text="${course.name}">courseName</td>
        <td>[start-date]</td>
        <td>[end-date]</td>
        <td th:text="${course.city}">courseCity</td>
        <td>[price]</td>
    </tr>
</table>
</body>
</html>
