<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapis na kurs</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/course/signup.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div id="content">
    <div class="courses-container">
        <h1>Twój wybrany kurs:</h1>
        <div class="course-tile">
            <div class="course-header">
                <div class="course-name"
                     th:text="${chosenCourse.name}">courseName
                </div>
                <div class="course-price strong"
                     th:text="${'Cena: ' +
                     #numbers.formatCurrency(chosenCourse.price)}">coursePrice
                </div>
            </div>
            <div class="course-details">
                <div class="course-detail-tile">
                    <p>Miasto</p>
                    <p class="strong"
                       th:text="${chosenCourse.city}">courseCity</p>
                </div>
                <div class="course-detail-tile">
                    <p>Data rozpoczęcia</p>
                    <p class="strong"
                       th:text="${chosenCourse.beginDate}">courseBegin</p>
                </div>
                <div class="course-detail-tile">
                    <p>Data zakończenia</p>
                    <p class="strong"
                       th:text="${chosenCourse.endDate}">courseEnd</p>
                </div>
                <div class="course-detail-tile">
                    <p>Tryb</p>
                    <p class="strong"
                       th:text="${chosenCourse.mode.getDescription()}">courseMode</p>
                </div>
            </div>
            <div id="signup-form-container">
                <form th:action="@{'/kurs/zapis'}" th:object="${newStudent}"
                      th:method="'post'">
                    <label for="first-name">Imię: </label>
                    <input type="text" id="first-name"
                           th:field="*{firstName}" required><br>
                    <label for="last-name">Nazwisko: </label>
                    <input type="text" id="last-name"
                           th:field="*{lastName}" required><br>
                    <label for="email">E-mail: </label>
                    <input type="text" id="email"
                           th:field="*{email}" required><br>
                    <label for="phone">Telefon: </label>
                    <input type="text" id="phone"
                           th:field="*{phone}" required><br>
                    <button>Wyślij zgłoszenie</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
