<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zapis na kurs</title>
    <link th:href="@{/css/general.css}" rel="stylesheet"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/course/signup.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div id="content">
    <div class="courses-container">
        <h1>Twój wybrany kurs:</h1>
        <div class="course-tile">
            <div class="course-header">
                <div class="course-name"
                     th:text="${chosenCourse.name}">courseName
                </div>
                <div class="course-price strong"
                     th:text="${'Cena: ' +
                     #numbers.formatCurrency(chosenCourse.price)}">coursePrice
                </div>
            </div>
            <div class="course-details">
                <div class="course-detail-tile">
                    <p>Miasto</p>
                    <p class="strong"
                       th:text="${chosenCourse.city}">courseCity</p>
                </div>
                <div class="course-detail-tile">
                    <p>Data rozpoczęcia</p>
                    <p class="strong"
                       th:text="${chosenCourse.beginDate}">courseBegin</p>
                </div>
                <div class="course-detail-tile">
                    <p>Data zakończenia</p>
                    <p class="strong"
                       th:text="${chosenCourse.endDate}">courseEnd</p>
                </div>
                <div class="course-detail-tile">
                    <p>Tryb</p>
                    <p class="strong"
                       th:text="${chosenCourse.mode.getDescription()}">courseMode</p>
                </div>
            </div>
            <div id="signup-form-container">
                <h3>Załóż nowe konto, aby zapisać się na powyższy kurs</h3>
                <form th:action="@{'/kurs/zapis'}" th:object="${user}"
                      th:method="'post'">

                    <!--<div>
                        <ul aria-label="Proszę poprawić poniższe błędy"
                            th:if="${#fields.hasErrors('*')}">
                            <li th:each="err : ${#fields.errors('*')}"
                                th:text="${err}">errorsList
                            </li>
                        </ul>
                    </div>-->

                    <label for="first-name">Imię: </label>
                    <div>
                        <input type="text" id="first-name"
                               th:field="*{firstName}" th:errorclass="field-error">
                        <span class="error-wrapper"
                              th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}">firstName-error-info</span>
                    </div>

                    <label for="last-name">Nazwisko: </label>
                    <div>
                        <input type="text" id="last-name"
                               th:field="*{lastName}" th:errorclass="field-error">
                        <span class="error-wrapper"
                              th:if="${#fields.hasErrors('lastName')}"
                              th:errors="*{lastName}">lastName-error-info</span>
                    </div>

                    <label for="email">E-mail: </label>
                    <div>
                        <input type="text" id="email"
                               th:field="*{email}" th:errorclass="field-error">
                        <span class="error-wrapper" th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}">email-error-info</span>
                    </div>

                    <label for="phone">Telefon: </label>
                    <div>
                        <input type="text" id="phone"
                               th:field="*{phone}" th:errorclass="field-error">
                        <span class="error-wrapper" th:if="${#fields.hasErrors('phone')}"
                              th:errors="*{phone}">phone-error-info</span>
                    </div>

                    <label for="password-1">Hasło: </label>
                    <div>
                        <input type="password" id="password-1"
                               th:field="*{password}" th:errorclass="field-error">
                        <span class="error-wrapper"
                              th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">password-error-info</span>
                    </div>

                    <label for="password-2">Powtórz hasło: </label>
                    <input type="password" id="password-2" name="passwordRepeat"
                           th:classappend="${#fields.hasErrors('password')} ?
                           'field-error'">

                    <input type="hidden" th:field="*{role}" th:value="${user.role}">
                    <input type="hidden" th:field="*{hourlyRate}"
                           th:value="${user.hourlyRate}">
                    <input type="hidden" name="courseId" th:value="${chosenCourse.id}">

                    <button>Wyślij zgłoszenie</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
