table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin: 0.5em 0.75em;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 0.35em;
}

table th,
table td {
    padding: 0.625em;
    text-align: center;
}

table th {
    font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

table .edit-button {
    width: 90%;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-size: 0.75vw;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: green;
    transition: 0.3s all;
    cursor: pointer;
}

table .edit-button:hover {
    background-color: lightgreen;
}

table .delete-button {
    width: 90%;
    margin-top: 0.3em;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-size: 0.75vw;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: orange;
    transition: 0.3s all;
    cursor: pointer;
}

table .delete-button:hover {
    background-color: red;
}

table .delete-button:focus {
    outline: none;
}

table .inactive {
    background-color: #aca9a9;
    color: lightgrey;
    border: 1px solid lightgrey;
    cursor: default;
}

table .inactive:hover {
    background-color: #aca9a9;
}

@media screen and (max-width: 992px) {
    table {
        border: 0;
        font-size: 3vw;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    table .edit-button,
    table .delete-button {
        max-width: 20%;
        border-radius: 2px;
        font-size: 3vw;
    }
}
