nav {
    display: flex;
    font-family: Arial, sans-serif;
    margin: 15px auto 10px;
    width: 93%;
    height: 50px;
    background-color: rgb(130, 167, 231);
    border-radius: 8px;
    font-size: 4vw;
}

nav div.right-side {
    margin-left: auto;
}

nav a {
    line-height: 50px;
    height: 100%;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: white;
    cursor: pointer;
    transition: 0.3s all;
}

nav div.left-side a {
    padding-left: 10px;
    padding-right: 10px;
}

nav a.current-link {
    background-color: #1abc9c;
    border-radius: 8px;
}

nav i.current-link {
    color: orange;
}

nav .fab,
nav .fas {
    transition: 0.3s all;
    padding-right: 15px;
}

div.right-side a:hover {
    color: mediumblue;
}

div.left-side a:hover {
    background-color: #1abc9c;
    border-radius: 8px;
}

@media (min-width: 576px) {
    nav {
        max-width: 540px;
        font-size: 3.25vw;
    }
}

@media (min-width: 768px) {
    nav {
        max-width: 720px;
        font-size: 2.5vw;
    }
}

@media (min-width: 992px) {
    nav {
        max-width: 960px;
        font-size: 1.75vw;
    }
}

@media (min-width: 1200px) {
    nav {
        max-width: 1140px;
        font-size: 1vw;
    }
}
