<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Administracyjny Kursów</title>
    <link th:href="@{/css/adminpanel.css}" rel="stylesheet"/>
</head>
<body>
<div id="adminbar-content" th:fragment="adminpanel">
    <h2>Panel Administracyjny</h2>
    <div class="adminbar-container">
        <th:block th:with="currentUrl=${#httpServletRequest.requestURI}">
            <a th:href="@{/admin/courses}">
                <div id="courses-base" class="adminbar-button"
                     th:classappend="${currentUrl.equals('/admin/courses')} ? 'current'">
                    <div class="button-text">Baza Kursów</div>
                </div>
            </a>
            <a th:href="@{/admin/users}">
                <div id="all-users-base" class="adminbar-button"
                     th:classappend="${currentUrl.equals('/admin/users')} ? 'current'">
                    <div class="button-text">Wszyscy Użytkownicy</div>
                </div>
            </a>
            <a th:href="@{/admin/users/teachers}">
                <div id="teachers-base" class="adminbar-button"
                     th:classappend="${currentUrl.equals('/admin/users/teachers')} ?
                     'current'">
                    <div class="button-text">Baza Trenerów</div>
                </div>
            </a>
            <a th:href="@{/admin/users/students}">
                <div id="students-base" class="adminbar-button"
                     th:classappend="${currentUrl.equals('/admin/users/students')} ?
                     'current'">
                    <div class="button-text">Baza Studentów</div>
                </div>
            </a>
            <a th:href="@{/admin/courses/add}">
                <div id="add-course" class="adminbar-button"
                     th:classappend="${currentUrl.equals('/admin/courses/add')} ?
                     'current'">
                    <div class="button-text">Dodaj kurs</div>
                </div>
            </a>
            <a th:href="@{/admin/users/add-teacher}">
                <div id="add-teacher" class="adminbar-button"
                     th:classappend="${currentUrl.equals('/admin/users/add-teacher')} ?
                     'current'">
                    <div class="button-text">Dodaj trenera</div>
                </div>
            </a>
            <a th:href="@{/admin/users/add-student}">
                <div id="add-student" class="adminbar-button"
                     th:classappend="${currentUrl.equals('/admin/users/add-student')} ?
                     'current'">
                    <div class="button-text">Dodaj studenta</div>
                </div>
            </a>
        </th:block>
    </div>
</div>
</body>
</html>
