<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <a th:href="@{/kurs/lista}">Kursy</a>
    <a href="#"
       title="Musisz posiadać uprawnienia Administratora aby użyć tej opcji">Dodaj kurs
    </a>
    <a href="https://github.com/Dregosh/SDA-Spring1"
       title="Obejrzyj kod źródłowy tej aplikacji na Github"
       target="_blank"><i class="fab fa-github fa-2x"></i></a>
    <th:block th:with="currentUrl = ${#httpServletRequest.requestURI}">
    <div class="animation"
         th:classappend="${(currentUrl == '/kurs/lista' ? 'onlink-course-list':'') +
         (currentUrl == '/kurs/dodaj' ? 'onlink-course-add' : '')}"></div>
    </th:block>
</nav>
<script src="https://kit.fontawesome.com/8214f82e31.js" crossorigin="anonymous"></script>
</body>
</html>
